
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to MicroBuilder</title>
  <link rel="shortcut icon" href="MyLogo1.png" type="image/x-icon">
  <link rel="stylesheet" href="style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="hed"><h1>Welcome To MicroBuilder <br>( A Project By VAPM's Computer Students)</h1></div>


<div class="container">
      <div class="card">
     <center>   <img src="MyLogo1.png" alt="MicroBuilder Logo"></center>
        <h1 class="title">Want To Design Your MicroProject & Certificates Automatically ?</h1>
        <p class="subtitle">Hey Buddy  &nbsp; 😊:)  &nbsp;!!!<br>Your MicroProject Helper Is Here !<br>Just Be With Us ( : ) <br>Here We Are, To Create Your MicroProject And Certificates Automatically. <br>This Website (A Project By Omanand Swami, Harsh Kale, Akshay Gitte And Prathmesh Bavge) Is To Help Our Diploma Friends !!! <br>Let's Get Start With Your Certificate &RightArrow;  </p>
       
       <a href="form"><button class="btn">Design My Certificate</button></a> 
      </div>
      <div class="blob"></div>
    </div>
<!-- partial -->
  
</body>
</html>
